*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: vazir;
    src: url("../../public/font/Vazir-Medium.ttf");
}
:root {
    --font-vazir : vazir;
}
.set-font {
    font-family: var(--font-vazir);
}
body {
    width: 100%;
    height: 100vh;
}
.show-textGenerator {
    width: 500px;
    height: 400px;
    overflow: auto;
}
input {
    width: 20px;
    outline: none;
}
@media (max-width:600px) {
    .show-textGenerator {
        width: auto;
    }
}